/* Medium zoom styling */
.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image--opened {
  z-index: 101;
}

/* Make images appear clickable */
.main img {
  cursor: zoom-in;
}

.medium-zoom-image--opened {
  cursor: zoom-out;
}

